
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/*for button*/
.azeret-mono-normaly{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, p{
  text-align: center;
}

#h1b{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*nav style*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 150px;
}

nav ul button{
   padding: 13px 20px;
   border-radius: 8px;
   border: #0D1321 1px solid;
}

/*nav btn*/

#btn1{
    background-color:#FFFFFF;
    
}

/* last button */
#sbtn{
 display: block;
 margin: auto;
 margin-top: 51px;
 height: 38px;
 width: 190px;
 background-color: black;
 color: #FFFFFF;
 font-size: larger;
 border-radius: 8px;
 border: none;
 text-decoration: none;
 padding-left: 5px;
 padding-top: 15px;
 text-align: center;
}


#gro{
        height: 240px;
        width: 240.28px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        
}
#bg{
    background-image: url("./assets/Hero-bg.png");
    height: 652px;
    width: 1440px;
    margin-bottom: 60px;
}

#secondp{
    height: 1393px;
    width: 1140px;
    background-color: #FAFAFB;/* #FAFAFB; */
    margin-left: 138px;
    padding: 80px 97px;

}

.intodev{
    height: 336px;
    width: 946px;
    padding: 48px;
    background-color:#FCFCFD;
}
#sss{
    margin: 80px 97px;
    
}

#ooo{
    height: 1233px;
    width: 946px;
}
#jjj{
    margin-bottom: 48px;
}

#memo{
    height: 1072px;
    width: 946px;
    
}
#keno{
    background-color: #FCFCFD;
    height: 260px ;
    width: 946px;
    padding: 48px;
    display: flex;
    margin-bottom: 32px;
    justify-content:space-around;
}
#hasan{
    margin-top:100px;
    margin-bottom: 40px;
}
#youtube{
    height: 614px;
    width: 1140px;
    padding: 32px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#min{
    width: 1140px;
    height: 1437px;
}
#max{
    width: 1140px;
    height: 460px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 310px 310px ;
    grid-gap: 12px;
    background-color: white;
    }
    .grid-container > div{
    border: 1px black solid;
    padding: 12px;
    border-radius: 10px;
    }
    
    
    .c1{
        background-color: #fff6f4;
    }
    .c2{
        background-color: #f2f6fe;
    }
    .c3{
        background-color: #fffdf2;
    }
    #target{
        height: 866px;
        width: 1140px;
        
    }
    #h3P{
        margin-bottom:48px;
    }
    #plo{
        width: 1140px;
        height: 219px;
        border: 0.5px black solid;
        border-radius: 10px;
        margin-bottom: 24px;
        display: flex;
    }
    #last{
        padding: 50px;
        height: 313px;
        width: 1140px;
        background-image: url(assets/handshake.jpg);
        
    }
    .h1l{
        color: #f2f6fe;
        padding-top: 45px;
    }